<% if (locals.user) { %>
<header class="header" userID="<%= locals.user.id %>">
  <nav class="header-nav">
    <ul>
      <li id="friendsIcon" class="nav-icons">
        <a href="./main/friends"><img src="./img/friend-icon.svg" alt="Friends" id="friend-icon" <%= locals.user.friendReqs.length ? 'class=gotRequests' : '' %>></a>
        <ul id="collapsible-friend-list">
          <li><a href="./main/friends">+ add friend</a></li>
          <!--- APPEND ALL FRIENDS -->
          <% if (locals.user.friends) { %>
            <% for (const friend of locals.user.friends) { %>
              <li>
                <a href="./main/chat/<%= friend.chatID %>">
                  <div class="dropdown-profile-img">
                    <img src="./img/profiles/<%= friend.profileImg %>" alt="profileImg">
                  </div>
                  <%= friend.username %>
                </a>
              </li>
            <% } %>
          <% } %>
        </ul>
      </li>
      <li id="groupIcon" class="nav-icons">
        <a href="./main/groups"><img src="./img/group-icon.svg" alt="Groups" id="group-icon"></a>
        <ul id="collapsible-group-list">
          <li><a href="./main/groups/add">+ create group</a></li>
          <!--- APPEND ALL GROUPS -->
        </ul>
      </li>
      <li id="settingsIcon" class="nav-icons">
        <a href="./main/settings"><img src="./img/settings-icon.svg" alt="Settings" id="settings-icon"></a></li>
    </ul>
  </nav>

  <logged-in-box name="<%= locals.user.username %>">
    <img slot="profile" src="./img/profiles/<%= locals.user.profileImg %>" alt="profile">
  </logged-in-box>

  <form class="logout-form" action="./logout" method="POST">
    <button class="logout-btn" type="submit"><img src="./img/logout-btn.svg" alt="Logout"></button>
  </form>
</header>
<% } %>