<% if (locals.user) { %>
<div id="friends-page" class="content-body">
<!--------------------------------FRIENDLIST-------------------------------->
<div id="friend-list">
  <h3 id="friend-list-title">Friends</h3>
  <div id="friends-table">
    <table>
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
      <% if (locals.user.friends) { %> 
      <% for (const friend of locals.user.friends) { %>
        <tr class="friend-table-list">
          <td>
            <a href="./main/chat/<%= friend.chatID %>">
              <div class="friend-profile-img">
                <img src="./profiles/<%= friend.profileImg %>" alt="profileImg">
              </div>
            </a>
          </td>
          <td class="friend-username">
            <a href="./main/chat/<%= friend.chatID %>"><%= friend.username %></a>
          </td>
        
          <td class="friend-action">
            <form method="POST" action="./main/friends/remove/<%= friend.id %>" class="submit-button-user">
              <button type="submit">Remove</button>
            </form>
          </td>
        </tr>
      <% }} %>
      </tbody>
    </table>
  </div>
</div>

<div id="search-and-reqs">

<!---------------------SEARCHBOX--------------------->
    <div id="searchbox" <%= viewData && viewData.results ? 'class=expanded' : 'class=' %>>
      <h3 id="search-users">Search for users</h3>
      <form method="POST" action="./main/friends" id="search-form" <%= viewData && viewData.results ? '' : 'class=hiddenVis' %>>
        <input type="text" autocomplete="off" name="searchTerm" minlength="1" placeholder="Search for a user!" required>
        <div class="submit-button-user" id="search-button">
          <button type="submit">Search</button>
        </div>
      </form>

      <% if (viewData && viewData.results.length > 0) { %>
        <div class="search-results">
          <table id="search-table">
            <thead></thead>
            <tbody>
            <% for (const result of viewData.results) { %>
              <% if (result.id !== locals.user.id) { %>
              <tr class="search-profile">
                <td>
                  <div class="friend-profile-img">
                    <img src="./profiles/<%= result.profileImg %>" alt="profileImg">
                  </div>
                </td>
                <td class="search-username">
                  <%= result.username %>
                </td>
                <td class="search-add-btn">
                  <% let requestSent = false %>
                  <% let alreadyFriends = false %>

                  <% for (const req of locals.user.sentFriendReqs) { %>
                      <% if (req.id === result.id) { %>
                          <% requestSent = true %>
                          <% break %>
                      <% } %>
                  <% } %>

                  <% for (const req of locals.user.friendReqs) { %>
                    <% if (req.id === result.id) { %>
                        <% requestSent = true %>
                        <% break %>
                    <% } %>
                <% } %>

                  <% for (const req of locals.user.friends) { %>
                      <% if (req.id === result.id) { %>
                          <% alreadyFriends = true %>
                          <% break %>
                      <% } %>
                  <% } %>
                  
                  <% if (!requestSent && !alreadyFriends) { %>
                      <form method="POST" action="./main/friends/friendReq/<%= result.id %>" class="submit-button-user">
                          <button type="submit">Send friend request</button>
                      </form>
                  <% } else if (requestSent) { %>
                    <div class="submit-button-user inactive-btn">
                      <button>Request already sent</button>
                    </div>
                  <% } else if (alreadyFriends) { %>
                    <div class="submit-button-user inactive-btn">
                      <button>Already friends</button>
                    </div>
                  <% } %>
                </td>
              </tr>
            <% }} %>
            </tbody> 
          </table>
        </div>
      <% } else if (viewData && viewData.results.length === 0) { %>
        <div class="search-results no-result">
          <h3>NO RESULTS</h3>
        </div>
      <% } %>
    </div>

<!--------------------------------FRIEND-REQUESTS-------------------------------->
    <div id="friendReq-list" <%= locals.user.friendReqs.length ? 'class=gotRequests' : 'class=' %>>
      <h3 id="friend-reqs">Friend requests (<%= locals.user.friendReqs.length %>)</h3>
      <div id="friendReq-table" <%= locals.user.friendReqs ? 'class=hiddenVis' : '' %>>
        <table>
          <thead>
            <tr>
            </tr>
          </thead>
          <tbody id="req-table-body">
          <% if (locals.user.friendReqs) { %> 
          <% for (const friend of locals.user.friendReqs) { %>
            <tr class="reqTable-list">
              <td>
                <div class="friend-profile-img">
                  <img src="./profiles/<%= friend.profileImg %>" alt="profileImg">
                </div>
              </td>
              <td class="friend-username">
                <%= friend.username %>
              </td>
              <td class="friend-action">
                <form method="POST" action="./main/friends/add/<%= friend.id %>" class="submit-button-user">
                  <button type="submit">Accept</button>
                </form>
                <form method="POST" action="./main/friends/deny/<%= friend.id %>" class="submit-button-user">
                  <button type="submit">Deny</button>
                </form>
              </td>
            </tr>
          <% }} %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% } %> <!---Keep this last!--->
