<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Chatterbox</title>
  <base href="<%= locals.baseURL %>" />
  <link rel="icon" href="./favicon.ico" />
  <link rel="stylesheet" href="./css/styles.css" />
  <script type="module" src="./js/index.js"></script>
  <script type="module" src="./js/components/settings-comps/profile-selector/index.js"></script>
  <script type="module" src="./js/components/logged-in-box/index.js"></script>
  <script type="module" src="./js/components/chat-app/index.js"></script>
  <%- defineContent('style') %>
  <%- defineContent('script') %>
</head>

<body <%= !locals.user ? 'id=starting-pages' : 'id=logged-in-pages' %>>
  <% if (locals.user) { %>
    <%- include('../partials/header.ejs') %>
  <% } %>

  <main role="main" class="container">
    <%- include('../partials/flash') %>
    <%- body %>
  </main>

  <% if (locals.user) { %>
  <%- include('../partials/footer') %>
  <% } %>  
</body>

</html>
